dockerapi/bin/Debug/net5.0/appsettings.Development.json
dockerapi/bin/Debug/net5.0/appsettings.json
dockerapi/bin/Debug/net5.0/dockerapi.deps.json
dockerapi/bin/Debug/net5.0/dockerapi.dll
dockerapi/bin/Debug/net5.0/dockerapi.exe
dockerapi/bin/Debug/net5.0/dockerapi.pdb
dockerapi/bin/Debug/net5.0/dockerapi.runtimeconfig.dev.json
dockerapi/bin/Debug/net5.0/dockerapi.runtimeconfig.json
dockerapi/bin/Debug/net5.0/Microsoft.OpenApi.dll
dockerapi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
dockerapi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
dockerapi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
dockerapi/bin/Debug/net5.0/ref/dockerapi.dll
.vscode/launch.json
.vscode/tasks.json
dockerapi/obj/dockerapi.csproj.nuget.dgspec.json
dockerapi/obj/dockerapi.csproj.nuget.g.props
dockerapi/obj/dockerapi.csproj.nuget.g.targets
dockerapi/obj/project.assets.json
dockerapi/obj/project.nuget.cache
dockerapi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
dockerapi/obj/Debug/net5.0/apphost.exe
dockerapi/obj/Debug/net5.0/dockerapi.AssemblyInfo.cs
dockerapi/obj/Debug/net5.0/dockerapi.AssemblyInfoInputs.cache
dockerapi/obj/Debug/net5.0/dockerapi.assets.cache
dockerapi/obj/Debug/net5.0/dockerapi.csproj.CopyComplete
dockerapi/obj/Debug/net5.0/dockerapi.csproj.CoreCompileInputs.cache
dockerapi/obj/Debug/net5.0/dockerapi.csproj.FileListAbsolute.txt
dockerapi/obj/Debug/net5.0/dockerapi.csprojAssemblyReference.cache
dockerapi/obj/Debug/net5.0/dockerapi.dll
dockerapi/obj/Debug/net5.0/dockerapi.GeneratedMSBuildEditorConfig.editorconfig
dockerapi/obj/Debug/net5.0/dockerapi.genruntimeconfig.cache
dockerapi/obj/Debug/net5.0/dockerapi.MvcApplicationPartsAssemblyInfo.cache
dockerapi/obj/Debug/net5.0/dockerapi.MvcApplicationPartsAssemblyInfo.cs
dockerapi/obj/Debug/net5.0/dockerapi.pdb
dockerapi/obj/Debug/net5.0/dockerapi.RazorTargetAssemblyInfo.cache
dockerapi/obj/Debug/net5.0/project.razor.json
dockerapi/obj/Debug/net5.0/ref/dockerapi.dll
dockerapi/obj/Debug/net5.0/staticwebassets/dockerapi.StaticWebAssets.Manifest.cache
dockerapi/obj/Debug/net5.0/staticwebassets/dockerapi.StaticWebAssets.xml
